<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335114486831-uv8ik64groles7hopeen4p97ems9lod0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335114486831-uv8ik64groles7hopeen4p97ems9lod0</string>
	<key>API_KEY</key>
	<string>AIzaSyA2hly9F8K-MFKkQQsZIOmaCTVg0ItxydE</string>
	<key>GCM_SENDER_ID</key>
	<string>335114486831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-4f7f4</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-4f7f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335114486831:ios:1b8e3f7b48f050e14432da</string>
</dict>
</plist>